<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/create" method="POST">
      <label for="firstName">first Name: </label>
      <input type="text" id="firstName" name="firstName" required />
      <label for="lastName">Last Name: </label>
      <input type="text" id="lastName" name="lastName" required />
      <br />
      <label for="email">Email: </label>
      <input type="text" id="email" name="email" required />
      <label for="age">Age: </label>
      <input type="text" id="age" name="age" required />
      <br />

      <label for="bio">Bio: </label>
      <textarea name="bio" id="bio"></textarea>
      <br />

      <button type="submit">Submit</button>
    </form>
    <%- include('partials/errors.ejs') %>
    <a href="/">Back to home</a>
  </body>
</html>
